@media (min-width: 0px) and (max-width: 756px) {
  .mainBoardcontainer {
    max-width: 504px;
    column-count: 2;
  }
}

@media (min-width: 757px) and (max-width: 1007px) {
  .mainBoardcontainer {
    max-width: 757px;
    column-count: 3;
  }
}
@media (min-width: 1008px) and (max-width: 1259px) {
  .mainBoardcontainer {
    max-width: 1259px;
    column-count: 4;
  }
}
@media (min-width: 1260px) and (max-width: 1511px) {
  .mainBoardcontainer {
    max-width: 1511px;
    column-count: 5;
  }
}
@media (min-width: 1512px) and (max-width: 1763px) {
  .mainBoardcontainer {
    max-width: 1763px;
    column-count: 6;
  }
}
@media (min-width: 1764px) and (max-width: 2015px) {
  .mainBoardcontainer {
    max-width: 2015px;
    column-count: 7;
  }
}
